In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
 

 
from sklearn.ensemble import RandomForestClassifier 
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

sns.set(style='white', context='notebook', palette='deep')
df_train = pd.read_csv(r"/content/drive/MyDrive/datasetProcessed.csv")
# df_test = pd.read_csv(r"C:\Users\Nauman Rajput\Desktop\archive_2\credit_train.csv")

df=df_train.copy()

In [ ]:
df.head()

,ts,src_port,dst_port,src_ip,dst_ip,proto,conn_state,label
0,1556076559,40461,4111,192.168.1.32,192.168.1.180,tcp,S0,1
1,1556027136,52242,12036,192.168.1.30,192.168.1.180,tcp,S0,1
2,1556027653,48983,41511,192.168.1.32,192.168.1.195,tcp,S0,1
3,1556077155,6156,56643,192.168.1.79,192.168.1.31,tcp,RSTOS0,1
4,1556027666,61281,1072,192.168.1.32,192.168.1.195,tcp,S0,1

In [ ]:
statistics_of_data = []
for col in df.columns:
  statistics_of_data.append((col,
                             df[col].nunique(),
                             df[col].isnull().sum()*100/df.shape[0],
                             df[col].value_counts(normalize=True, dropna=False).values[0] * 100, 
                             df[col].dtype
                             ))
stats_df = pd.DataFrame(statistics_of_data, columns=['Feature', 'Uniq_val', 'missing_val', 'val_biggest_cat', 'type'])

In [ ]:
stats_df

      Feature  Uniq_val  missing_val  val_biggest_cat    type
0          ts    155692          0.0         0.059817   int64
1    src_port     49346          0.0         3.959618   int64
2    dst_port     17511          0.0        21.061567   int64
3      src_ip      5563          0.0        11.092150  object
4      dst_ip      4297          0.0        17.747029  object
5       proto         3          0.0        72.521354  object
6  conn_state        13          0.0        29.993285  object
7       label         2          0.0        52.779268   int64

In [ ]:
import numpy as np

def reduce_mem_usage(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df


def import_data(df):
    """create a dataframe and optimize its memory usage"""
    df = reduce_mem_usage(df)
    return df
df=import_data(df)

Memory usage of dataframe is 20.82 MB
Memory usage after optimization is: 6.51 MB
Decreased by 68.7%

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341043 entries, 0 to 341042
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ts          341043 non-null  int32
 1   src_port    341043 non-null  int32
 2   dst_port    341043 non-null  int32
 3   src_ip      341043 non-null  category
 4   dst_ip      341043 non-null  category
 5   proto       341043 non-null  category
 6   conn_state  341043 non-null  category
 7   label       341043 non-null  int8
dtypes: category(4), int32(3), int8(1)
memory usage: 6.5 MB

In [ ]:
cat_col = df.select_dtypes(include='category')
cat_col

               src_ip         dst_ip proto conn_state
0        192.168.1.32  192.168.1.180   tcp         S0
1        192.168.1.30  192.168.1.180   tcp         S0
2        192.168.1.32  192.168.1.195   tcp         S0
3        192.168.1.79   192.168.1.31   tcp     RSTOS0
4        192.168.1.32  192.168.1.195   tcp         S0
...               ...            ...   ...        ...
341038  192.168.1.190    91.189.95.3   udp         SF
341039  192.168.1.180  192.168.1.190   udp         SF
341040  192.168.1.190  192.168.1.190   tcp        OTH
341041     172.17.0.5  192.168.1.190   udp        SHR
341042     172.17.0.7  192.168.1.190   udp        SHR

[341043 rows x 4 columns]

In [ ]:
index_list=[]
for index,val in enumerate(df['src_ip'].str.split('.')):
  try:
    m = int(val[0])
  except:
    index_list.append(index)

In [ ]:
index_list

[161085,
 161174,
 161187,
 161201,
 161204,
 161254,
 161289,
 161297,
 161365,
 161387,
 161497,
 161505,
 161521,
 161600,
 161610,
 161652,
 161775,
 161793,
 161829,
 161831,
 161844,
 161858,
 161953,
 161981,
 162047,
 162052,
 162177,
 162257,
 162275,
 162295,
 162425,
 162432,
 162530,
 162608,
 162693,
 162757,
 162763,
 162805,
 162855,
 162897,
 162904,
 162911,
 162958,
 163076,
 163116,
 163284,
 163319,
 163343,
 163403,
 163437,
 163447,
 163469,
 163502,
 163552,
 163570,
 163604,
 163653,
 163662,
 163702,
 163733,
 163864,
 163899,
 163999,
 164013,
 164181,
 164197,
 164321,
 164338,
 164350,
 164414,
 164555,
 164565,
 164571,
 164582,
 164603,
 164803,
 164805,
 164831,
 164966,
 164980,
 165057,
 165111,
 165119,
 165144,
 165151,
 165222,
 165282,
 165306,
 165324,
 165380,
 165404,
 165443,
 165515,
 165574,
 165595,
 165710,
 165788,
 165799,
 165939,
 165943,
 165952,
 166026,
 166034,
 166036,
 166173,
 166312,
 166498,
 166698,
 166823,
 166862,
 166946,
 166986,
 167109,
 167112,
 167271,
 167434,
 167565,
 167595,
 167633,
 167642,
 167672,
 167721,
 167917,
 167920,
 168029,
 168200,
 168297,
 168316,
 168335,
 168336,
 168338,
 168398,
 168418,
 168432,
 168491,
 168493,
 168522,
 168746,
 168785,
 168893,
 168905,
 169029,
 169156,
 169249,
 169268,
 169293,
 169344,
 169369,
 169377,
 169379,
 169397,
 169475,
 169480,
 169488,
 169536,
 169551,
 169588,
 169606,
 169771,
 169851,
 169877,
 169890,
 169901,
 169994,
 170006,
 170012,
 170033,
 170051,
 170133,
 170160,
 170170,
 170253,
 170286,
 170327,
 170632,
 170651,
 170657,
 170787,
 170793,
 170836,
 170922,
 170928,
 170948,
 171056,
 171137,
 171161,
 171200,
 171253,
 171263,
 171401,
 171416,
 171417,
 171448,
 171470,
 171482,
 171648,
 171673,
 171685,
 171688,
 171746,
 171753,
 171769,
 171914,
 171924,
 172034,
 172084,
 172134,
 172168,
 172212,
 172248,
 172269,
 172295,
 172306,
 172332,
 172373,
 172384,
 172477,
 172604,
 172606,
 172655,
 172675,
 172798,
 172824,
 172826,
 172875,
 172897,
 172898,
 172993,
 173020,
 173055,
 173067,
 173284,
 173350,
 173566,
 173580,
 173714,
 173807,
 173849,
 174037,
 174075,
 174078,
 174081,
 174099,
 174176,
 174274,
 174297,
 174309,
 174320,
 174329,
 174335,
 174342,
 174448,
 174473,
 174502,
 174584,
 174657,
 174691,
 174713,
 174746,
 174798,
 174812,
 174835,
 174840,
 174876,
 174888,
 175021,
 175059,
 175085,
 175105,
 175109,
 175161,
 175165,
 175182,
 175233,
 175305,
 175378,
 175434,
 175458,
 175460,
 175515,
 175537,
 175593,
 175608,
 175650,
 175654,
 175662,
 175996,
 176002,
 176085,
 176106,
 176128,
 176165,
 176172,
 176202,
 176240,
 176402,
 176406,
 176422,
 176432,
 176436,
 176441,
 176453,
 176570,
 176576,
 176613,
 176670,
 176682,
 176701,
 176789,
 176853,
 176874,
 176894,
 176943,
 176977,
 177032,
 177073,
 177250,
 177316,
 177319,
 177340,
 177477,
 177547,
 177743,
 177776,
 177898,
 177914,
 177976,
 178053,
 178066,
 178071,
 178143,
 178146,
 178172,
 178174,
 178186,
 178187,
 178199,
 178202,
 178245,
 178315,
 178401,
 178402,
 178569,
 178572,
 178581,
 178584,
 178588,
 178679,
 178701,
 178724,
 178728,
 178772,
 178805,
 178810,
 178835,
 178842,
 178968,
 178975,
 178987,
 179042,
 179233,
 179256,
 179369,
 179455,
 179462,
 179514,
 179523,
 179551,
 179581,
 179604,
 179609,
 179712,
 179765,
 179783,
 179894,
 179900,
 179938,
 180075,
 180081,
 180104,
 180116,
 180131,
 180226,
 180272,
 180347,
 180378,
 180389,
 180464,
 180470,
 180506,
 180531,
 180554,
 180659,
 180669,
 180677,
 180681,
 180688,
 180706,
 180758,
 180836,
 180935,
 180945,
 180947,
 181002,
 181034,
 181319,
 181327,
 181406,
 181470,
 181563,
 181596,
 181598,
 181601,
 181621,
 181658,
 181660,
 181708,
 181715,
 181733,
 181970,
 182104,
 182128,
 182131,
 182137,
 182146,
 182209,
 182327,
 182338,
 182395,
 182426,
 182480,
 182569,
 182587,
 182716,
 182770,
 182773,
 182791,
 182854,
 182892,
 182895,
 182987,
 183018,
 183041,
 183054,
 183177,
 183257,
 183274,
 183291,
 183302,
 183362,
 183391,
 183432,
 183434,
 183465,
 183587,
 183613,
 183639,
 183640,
 183644,
 183673,
 183748,
 183783,
 183817,
 183821,
 183984,
 184033,
 184041,
 184052,
 184093,
 184095,
 184100,
 184122,
 184154,
 184224,
 184228,
 184258,
 184323,
 184356,
 184361,
 184364,
 184379,
 184407,
 184438,
 184530,
 184581,
 184744,
 184749,
 184859,
 184907,
 184934,
 184946,
 184980,
 185050,
 185077,
 185182,
 185254,
 185305,
 185315,
 185365,
 185401,
 185414,
 185424,
 185438,
 185500,
 185636,
 185658,
 185689,
 185772,
 185803,
 185898,
 185917,
 185930,
 185951,
 186081,
 186120,
 186124,
 186179,
 186250,
 186252,
 186345,
 186392,
 186408,
 186521,
 186657,
 186741,
 186770,
 186771,
 186800,
 186802,
 186919,
 186961,
 186984,
 187078,
 187088,
 187111,
 187272,
 187314,
 187360,
 187363,
 187456,
 187457,
 187460,
 187477,
 187540,
 187605,
 187634,
 187662,
 187663,
 187677,
 187684,
 187694,
 187755,
 187787,
 187840,
 187849,
 187945,
 187993,
 188032,
 188091,
 188104,
 188152,
 188193,
 188206,
 188375,
 188412,
 188443,
 188501,
 188511,
 188526,
 188584,
 188607,
 188706,
 188727,
 188749,
 188764,
 188805,
 188840,
 188886,
 188892,
 188972,
 189080,
 189103,
 189131,
 189151,
 189190,
 189211,
 189218,
 189221,
 189236,
 189254,
 189255,
 189257,
 189259,
 189267,
 189272,
 189292,
 189299,
 189336,
 189404,
 189413,
 189420,
 189565,
 189607,
 189612,
 189658,
 189681,
 189690,
 189725,
 189728,
 189732,
 189826,
 189839,
 189853,
 189879,
 189897,
 189922,
 189927,
 189945,
 189981,
 190022,
 190033,
 190046,
 190132,
 190151,
 190187,
 190208,
 190224,
 190245,
 190314,
 190330,
 190352,
 190377,
 190398,
 190461,
 190468,
 190536,
 190557,
 190568,
 190614,
 190627,
 190644,
 190713,
 190722,
 190792,
 190914,
 191068,
 191184,
 191195,
 191269,
 191354,
 191383,
 191387,
 191500,
 191508,
 191556,
 191575,
 191579,
 191614,
 191659,
 191714,
 191742,
 191789,
 191906,
 191958,
 192007,
 192009,
 192022,
 192074,
 192094,
 192111,
 192117,
 192152,
 192190,
 192204,
 192207,
 192209,
 192340,
 192392,
 192424,
 192449,
 192506,
 192516,
 192519,
 192538,
 192541,
 192706,
 192761,
 192826,
 192922,
 192965,
 193011,
 193068,
 193126,
 193203,
 193351,
 193367,
 193370,
 193388,
 193404,
 193412,
 193416,
 193422,
 193423,
 193441,
 193452,
 193511,
 193600,
 193604,
 193688,
 193744,
 193766,
 193776,
 193875,
 193898,
 193962,
 194002,
 194022,
 194042,
 194063,
 194111,
 194171,
 194185,
 194299,
 194304,
 194337,
 194507,
 194527,
 194574,
 194587,
 194598,
 194611,
 194710,
 194720,
 194724,
 194741,
 194801,
 194843,
 194988,
 195005,
 195195,
 195203,
 195218,
 195380,
 195425,
 195441,
 195493,
 195609,
 195618,
 195651,
 195689,
 195694,
 195697,
 195704,
 195732,
 195752,
 196051,
 196061,
 196127,
 196142,
 196300,
 196432,
 196511,
 196575,
 196631,
 196649,
 196660,
 196666,
 196725,
 196730,
 196745,
 196792,
 196870,
 196889,
 196911,
 196918,
 197000,
 197017,
 197026,
 197033,
 197046,
 197057,
 197065,
 197087,
 197094,
 197110,
 197115,
 197124,
 197235,
 197254,
 197286,
 197327,
 197366,
 197377,
 197420,
 197421,
 197485,
 197513,
 197643,
 197792,
 197843,
 197896,
 197954,
 197967,
 198056,
 198072,
 198088,
 198115,
 198128,
 198130,
 198135,
 198212,
 198250,
 198264,
 198338,
 198363,
 198545,
 198588,
 198617,
 198620,
 198644,
 198689,
 198697,
 198780,
 198805,
 198839,
 198843,
 199001,
 199058,
 199106,
 199123,
 199126,
 199133,
 199137,
 199320,
 199345,
 199373,
 199383,
 199438,
 199491,
 199555,
 199579,
 199597,
 199609,
 199649,
 199810,
 199850,
 199886,
 199968,
 200010,
 200035,
 200070,
 200095,
 200098,
 200142,
 200147,
 200189,
 200252,
 200277,
 200317,
 200416,
 200487,
 200492,
 200540,
 200583,
 200586,
 200672,
 200692,
 200843,
 200873,
 200874,
 200896,
 200905,
 200920,
 201138,
 201149,
 201177,
 201191,
 201194,
 201213,
 201250,
 201295,
 201309,
 201338,
 201416,
 201486,
 201488,
 201579,
 201587,
 201595,
 201705,
 201723,
 201743,
 201818,
 201943,
 202012,
 202133,
 202137,
 202149,
 202170,
 202224,
 202234,
 202259,
 202261,
 202290,
 202322,
 202340,
 202372,
 202406,
 202422,
 202462,
 202598,
 202618,
 202628,
 202669,
 202729,
 202782,
 202864,
 202875,
 202923,
 202962,
 203096,
 203111,
 203163,
 203164,
 203313,
 203407,
 203414,
 203458,
 203654,
 203734,
 203749,
 203761,
 203806,
 203839,
 203854,
 203871,
 203927,
 203949,
 204013,
 204073,
 204101,
 204205,
 204221,
 204268,
 204320,
 204344,
 204456,
 204469,
 204477,
 204587,
 204594,
 204599,
 204628,
 204638,
 204774,
 204812,
 204911,
 204916,
 204946,
 204980,
 205001,
 205046,
 205094,
 205133,
 205156,
 205255,
 205455,
 205461,
 205545,
 205630,
 205719,
 205730,
 205843,
 205909,
 205958,
 205974,
 206050,
 206061,
 206090,
 206144,
 206179,
 206191,
 206201,
 206204,
 206228,
 206376,
 206442,
 206555,
 206583,
 206588,
 206643,
 206681,
 206720,
 206737,
 206852,
 206877,
 206911,
 207024,
 207138,
 207189,
 ...]

In [ ]:
df.iloc[index_list,:]

,ts,src_port,dst_port,src_ip,dst_ip,proto,conn_state,label
161085,1554270005,135,136,fe80::a691:b1ff:fe1e:5790,fe80::20c:29ff:feee:e07a,icmp,OTH,0
161174,1556424119,135,136,fe80::a691:b1ff:fe1e:5790,fe80::bc7f:2fed:bb00:6bf2,icmp,OTH,0
161187,1554269295,59950,5355,fe80::e4a6:b91f:48f3:ac01,ff02::1:3,udp,S0,0
161201,1554305649,136,135,2405:6e00:10ce:2c00:8520:4eba:6770:702a,fe80::a691:b1ff:fe1e:5790,icmp,OTH,0
161204,1554298202,143,0,fe80::f554:8774:9968:b60b,ff02::16,icmp,OTH,0
...,...,...,...,...,...,...,...,...
340859,1556431676,49795,1900,fe80::2020:3916:4b74:9155,ff02::c,udp,S0,0
340900,1556427956,5353,5353,fe80::b0bd:4998:5e18:82ce,ff02::fb,udp,S0,0
340904,1556427951,135,136,fe80::a691:b1ff:fe1e:5790,fe80::a58c:cd03:5237:3b49,icmp,OTH,0
340991,1554271884,5353,5353,2405:6e00:10ce:2c00:c058:dbaa:f212:a2d8,ff02::fb,udp,S0,0
340992,1556425136,64711,5355,fe80::7554:d96:2463:d88d,ff02::1:3,udp,S0,0

In [ ]:
df.shape

(341043, 8)

In [ ]:
df.drop(index_list,axis=0,inplace=True)

In [ ]:
df.shape

(337265, 8)

Dealing with Cat columns

In [ ]:
cat_col = df.select_dtypes(include='category')
cat_col

               src_ip         dst_ip proto conn_state
0        192.168.1.32  192.168.1.180   tcp         S0
1        192.168.1.30  192.168.1.180   tcp         S0
2        192.168.1.32  192.168.1.195   tcp         S0
3        192.168.1.79   192.168.1.31   tcp     RSTOS0
4        192.168.1.32  192.168.1.195   tcp         S0
...               ...            ...   ...        ...
341038  192.168.1.190    91.189.95.3   udp         SF
341039  192.168.1.180  192.168.1.190   udp         SF
341040  192.168.1.190  192.168.1.190   tcp        OTH
341041     172.17.0.5  192.168.1.190   udp        SHR
341042     172.17.0.7  192.168.1.190   udp        SHR

[337265 rows x 4 columns]

In [ ]:
# df1 = df[df['src_ip'].str.contains('172.17.') | (df['src_ip'].str.contains('192.168.'))]

In [ ]:
df.shape

(337265, 8)

In [ ]:
# len(df1['src_ip'].value_counts().values)

In [ ]:
d = dict(df['src_ip'].value_counts().sort_values(ascending=False)[:30])

In [ ]:
df1 = df[df['src_ip'].isin(d.keys())]

In [ ]:
d = dict(df1['dst_ip'].value_counts().sort_values(ascending=False)[:50])
d

{'192.168.1.190': 59031,
 '192.168.1.195': 37865,
 '192.168.1.152': 37494,
 '192.168.1.193': 27862,
 '192.168.1.184': 20631,
 '192.168.1.33': 18451,
 '192.168.1.1': 17353,
 '192.168.1.79': 12287,
 '192.168.1.194': 8354,
 '239.255.255.250': 8014,
 '192.168.1.255': 7886,
 '127.0.0.1': 7408,
 '192.168.1.37': 4062,
 '192.168.1.180': 3670,
 '176.28.50.165': 3562,
 '52.59.177.21': 2712,
 '224.0.0.251': 2441,
 '18.184.104.180': 2394,
 '224.0.0.252': 2212,
 '192.168.1.169': 1927,
 '52.28.231.150': 1512,
 '203.119.86.101': 1491,
 '18.194.169.124': 1437,
 '192.0.32.59': 1228,
 '204.61.216.50': 1017,
 '192.168.1.186': 884,
 '8.8.8.8': 841,
 '192.5.6.30': 830,
 '192.168.1.46': 704,
 '203.119.95.53': 545,
 '192.33.14.30': 530,
 '202.12.31.53': 469,
 '192.168.1.49': 468,
 '192.168.1.32': 357,
 '64.124.14.21': 355,
 '199.7.83.42': 349,
 '192.26.92.30': 342,
 '193.108.88.128': 341,
 '192.58.128.30': 332,
 '192.5.5.241': 324,
 '192.168.1.31': 324,
 '192.168.1.250': 313,
 '204.61.216.100': 300,
 '192.30.45.30': 291,
 '199.15.83.22': 286,
 '199.7.91.13': 277,
 '192.203.230.10': 275,
 '192.34.234.30': 228,
 '208.76.45.53': 224,
 '117.18.237.29': 218}

In [ ]:
df2 = df1[df1['dst_ip'].isin(d.keys())]

In [ ]:
df2

,ts,src_port,dst_port,src_ip,dst_ip,proto,conn_state,label
0,1556076559,40461,4111,192.168.1.32,192.168.1.180,tcp,S0,1
1,1556027136,52242,12036,192.168.1.30,192.168.1.180,tcp,S0,1
2,1556027653,48983,41511,192.168.1.32,192.168.1.195,tcp,S0,1
3,1556077155,6156,56643,192.168.1.79,192.168.1.31,tcp,RSTOS0,1
4,1556027666,61281,1072,192.168.1.32,192.168.1.195,tcp,S0,1
...,...,...,...,...,...,...,...,...
341037,1556288476,61171,41952,192.168.1.195,192.168.1.1,tcp,SF,0
341039,1556079253,46657,53,192.168.1.180,192.168.1.190,udp,SF,0
341040,1554268119,43530,7878,192.168.1.190,192.168.1.190,tcp,OTH,0
341041,1556026367,34772,53,172.17.0.5,192.168.1.190,udp,SHR,0
341042,1556026457,44933,53,172.17.0.7,192.168.1.190,udp,SHR,0

Ordinal Encoding in Proto

In [ ]:
df2.proto.value_counts()

tcp     233087
udp      69373
icmp       248
Name: proto, dtype: int64

In [ ]:
mapping = {
    "tcp":2,
"udp":1,
"icmp":0
}
df2["proto"] = df2["proto"].replace(mapping)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df2

,ts,src_port,dst_port,src_ip,dst_ip,proto,conn_state,label
0,1556076559,40461,4111,192.168.1.32,192.168.1.180,2,S0,1
1,1556027136,52242,12036,192.168.1.30,192.168.1.180,2,S0,1
2,1556027653,48983,41511,192.168.1.32,192.168.1.195,2,S0,1
3,1556077155,6156,56643,192.168.1.79,192.168.1.31,2,RSTOS0,1
4,1556027666,61281,1072,192.168.1.32,192.168.1.195,2,S0,1
...,...,...,...,...,...,...,...,...
341037,1556288476,61171,41952,192.168.1.195,192.168.1.1,2,SF,0
341039,1556079253,46657,53,192.168.1.180,192.168.1.190,1,SF,0
341040,1554268119,43530,7878,192.168.1.190,192.168.1.190,2,OTH,0
341041,1556026367,34772,53,172.17.0.5,192.168.1.190,1,SHR,0
341042,1556026457,44933,53,172.17.0.7,192.168.1.190,1,SHR,0

In [ ]:

y = pd.get_dummies(df2.conn_state, prefix='State')

In [ ]:
y.drop("State_OTH",axis=1,inplace=True)

In [ ]:
merged = pd.concat([df2,y],axis='columns')

In [ ]:
merged.drop("conn_state",axis=1,inplace=True)

In [ ]:
merged

,ts,src_port,dst_port,src_ip,dst_ip,proto,label,State_REJ,State_RSTO,State_RSTOS0,State_RSTR,State_RSTRH,State_S0,State_S1,State_S2,State_S3,State_SF,State_SH,State_SHR
0,1556076559,40461,4111,192.168.1.32,192.168.1.180,2,1,0,0,0,0,0,1,0,0,0,0,0,0
1,1556027136,52242,12036,192.168.1.30,192.168.1.180,2,1,0,0,0,0,0,1,0,0,0,0,0,0
2,1556027653,48983,41511,192.168.1.32,192.168.1.195,2,1,0,0,0,0,0,1,0,0,0,0,0,0
3,1556077155,6156,56643,192.168.1.79,192.168.1.31,2,1,0,0,1,0,0,0,0,0,0,0,0,0
4,1556027666,61281,1072,192.168.1.32,192.168.1.195,2,1,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341037,1556288476,61171,41952,192.168.1.195,192.168.1.1,2,0,0,0,0,0,0,0,0,0,0,1,0,0
341039,1556079253,46657,53,192.168.1.180,192.168.1.190,1,0,0,0,0,0,0,0,0,0,0,1,0,0
341040,1554268119,43530,7878,192.168.1.190,192.168.1.190,2,0,0,0,0,0,0,0,0,0,0,0,0,0
341041,1556026367,34772,53,172.17.0.5,192.168.1.190,1,0,0,0,0,0,0,0,0,0,0,0,0,1
341042,1556026457,44933,53,172.17.0.7,192.168.1.190,1,0,0,0,0,0,0,0,0,0,0,0,0,1

In [ ]:
from sklearn.preprocessing import LabelEncoder
merged['src_ip']= LabelEncoder().fit_transform(merged['src_ip'])

In [ ]:
merged['dst_ip']= LabelEncoder().fit_transform(merged['dst_ip'])

In [ ]:
# df_final = merged[['src_ip', 'dst_ip', 'proto',
#        'State_REJ', 'State_RSTO', 'State_RSTOS0', 'State_RSTR', 'State_RSTRH',
#        'State_S0', 'State_S1', 'State_S2', 'State_S3', 'State_SF', 'State_SH',
#        'State_SHR','label']]

In [ ]:
df_final = merged.copy()

In [ ]:
df_final

,ts,src_port,dst_port,src_ip,dst_ip,proto,label,State_REJ,State_RSTO,State_RSTOS0,State_RSTR,State_RSTRH,State_S0,State_S1,State_S2,State_S3,State_SF,State_SH,State_SHR
0,1556076559,40461,4111,20,9,2,1,0,0,0,0,0,1,0,0,0,0,0,0
1,1556027136,52242,12036,18,9,2,1,0,0,0,0,0,1,0,0,0,0,0,0
2,1556027653,48983,41511,20,15,2,1,0,0,0,0,0,1,0,0,0,0,0,0
3,1556077155,6156,56643,29,18,2,1,0,0,1,0,0,0,0,0,0,0,0,0
4,1556027666,61281,1072,20,15,2,1,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341037,1556288476,61171,41952,16,6,2,0,0,0,0,0,0,0,0,0,0,1,0,0
341039,1556079253,46657,53,11,12,1,0,0,0,0,0,0,0,0,0,0,1,0,0
341040,1554268119,43530,7878,13,12,2,0,0,0,0,0,0,0,0,0,0,0,0,0
341041,1556026367,34772,53,2,12,1,0,0,0,0,0,0,0,0,0,0,0,0,1
341042,1556026457,44933,53,3,12,1,0,0,0,0,0,0,0,0,0,0,0,0,1

In [ ]:
X =df_final.drop('label',axis=1)
Y = df_final.label.values
Y

array([1, 1, 1, ..., 0, 0, 0], dtype=int8)

In [ ]:
from sklearn.preprocessing import StandardScaler
# X = StandardScaler().fit_transform(X)

In [ ]:
from sklearn.model_selection import train_test_split 


x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.30)
sc_X = StandardScaler()
x_train = sc_X.fit_transform(x_train)
x_test = sc_X.transform(x_test)
rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)
# rfc.score(x_train, y_train)
y_predict = rfc.predict(x_test)

In [ ]:
print(y_predict)
from sklearn.metrics import confusion_matrix, classification_report
print(confusion_matrix(y_test, y_predict))
print(classification_report(y_test, y_predict))

[1 0 0 ... 0 1 1]
[[43487     0]
 [    2 47324]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     43487
           1       1.00      1.00      1.00     47326

    accuracy                           1.00     90813
   macro avg       1.00      1.00      1.00     90813
weighted avg       1.00      1.00      1.00     90813

In [ ]:
df_final.label.value_counts()

1    157888
0    144820
Name: label, dtype: int64

Decision Tree

In [ ]:
from sklearn import tree

# Create a tree object
classifier = tree.DecisionTreeClassifier()
# Ask the tree to fit the data to the labels!  That's it!
classifier = classifier.fit(x_train, y_train)

from sklearn.metrics import confusion_matrix
results = confusion_matrix(y_test, classifier.predict(x_test))

In [ ]:
results

array([[43484,     3],
       [    2, 47324]])

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, classifier.predict(x_test))

0.9999449418034863

Decision Tree

In [ ]:
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
dt = cross_val_score(tree.DecisionTreeClassifier(),X,Y,cv=5).mean()

Random Forest Classifier

In [ ]:
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
rf = cross_val_score(RandomForestClassifier(n_estimators=100),X,Y,cv=5).mean()

SVC

In [ ]:
from sklearn.svm import SVC
svc = cross_val_score(SVC(kernel = 'rbf', random_state = 0),X,Y,cv=5).mean()

Logisitic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = cross_val_score(LogisticRegression(random_state = 0),X,Y,cv=5)

KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = cross_val_score(KNeighborsClassifier(n_neighbors = 3),X,Y,cv=5)

Gaussian Naive Bayes Classifier

In [ ]:
from sklearn.naive_bayes import GaussianNB
gn = cross_val_score( GaussianNB(),X,Y,cv=5)

In [ ]:
model_ev = pd.DataFrame({'Model': ['Logistic Regression','Naive Bayes','Random Forest',
                    'K-Nearest Neighbour','Decision Tree','Support Vector Machine'], 'Accuracy': [lr ,
                    gn,rf,knn,dt ,svc ]})
model_ev

In [ ]:
colors = ['red','green','blue','purple','yellow','orange',]
plt.figure(figsize=(12,5))
plt.title("barplot Represent Accuracy of different models")
plt.xlabel("Accuracy % \n")
plt.ylabel("Algorithms \n")
plt.bar(model_ev['Model'],model_ev['Accuracy'],color = colors)
plt.show()